{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Добавить объявление{% endblock %}

{% block nav-add-pet %}<a class="nav-item nav-link active" href="{% url 'shelter:add_pet' %}">Добавить объявление</a>{% endblock %}

{% block content %}
<h3 class="mb-3">Добавить питомца</h3>

<div>
    {% if not username %}
        <p>Чтобы добавить новое объявление о питомце, необходимо войти на сайт.</p>
        <a href="{% url 'shelter:login' %}" class="btn btn-outline-primary">Войти или зарегистрироваться</a>
    {% else %}
        <a href="{% url 'shelter:logout' %}" class="btn btn-outline-primary align-self-start">Выйти из аккаунта</a>
        <form method="POST" class="pet-form my-3" enctype="multipart/form-data" style="max-width: 300px">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-default">Добавить</button>
        </form>
    {% endif %}
</div>


{% endblock %}