{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>
        {% block head_title %}Приют для животных{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <span class="navbar-brand mb-0 h1" style="margin-left: 200px">Приют для животных</span>
            <span class="navbar-brand" >&#128036; &#128007; &#128024;</span>
            <div class="navbar-nav mx-5">
                {% block nav-pets %}<a class="nav-item nav-link" href="{% url 'shelter:pets' %}">Питомцы</a>{% endblock %}
                {% block nav-add-pet %}<a class="nav-item nav-link" href="{% url 'shelter:add_pet' %}">Добавить объявление</a>{% endblock %}
                {% block nav-contacts %}<a class="nav-item nav-link" href="{% url 'shelter:contacts' %}">Контакты</a>{% endblock %}
            </div>
        </nav>
        
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>