{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/pets.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center">Добро пожаловать в приют!</h2>
<div class="d-flex justify-content-start flex-wrap mt-3 pet-list">
    {% for pet in pets %}
        <div class="pet mx-3 my-3">
            <a href="pets/{{ pet.pk }}">
                {% if pet.photo %}
                    <div class="mb-3">
                        <img src="{{ pet.photo.url }}" height="200" width="300">
                    </div>
                {% endif %}

                <div class="my-2"><strong>{{ pet.name }}</strong></div>     
                <div class="my-2">{{ pet.description }}</div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}