{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Добро пожаловать в приют!</h2>

<div class="container mx-5 mt-3">
    <div class="row">
    {% for pet in pets %}
        <div class="col-md mx-3">
            {% if pet.photo %}
                <div class="row">
                    <img src="/media/{{ pet.photo }}" height="200">
                </div>
            {% endif %}
            <div class="row">{{ pet.name }}, {{ pet.age }}</div>
            <div class="row">{{ pet.description }}</div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}